body {
  background-color: #fff;
}

.app-header {
  h1 {
    font-size: 1.2em;
  }
}

.link-item-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .link-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 200px;
    height: 110px;
    border: 1px solid #000;
    padding: 10px;
    margin: 6px;

    &:hover {
      cursor: pointer;
      .url {
        text-decoration: underline;
      }
    }

    .link-name {
      max-height: 20px;
      margin: 0;
    }

    .icon {
      height: 30px;
      width: 30px;
      margin-bottom: 6px;
    }
  }
}
